#wrap{width:100%; height:100%; padding-right:180px;}
#wrap > h1{font-size:0;}
header .logo_box{position:absolute; right: 35px; top:75px;}
header .logo_box img{width:100px;}
#wrap header{
    width:180px; height:100%; position:fixed; right:0px; top:0px; 
    background:url(../image/menu_bg1.jpg) repeat-y; z-index:11;
}
#wrap header nav{width:100%; height:100%;}
#wrap header nav ul{
    width:100%; height:100%; display:flex; 
    flex-direction:column; justify-content:center;
}
#wrap header nav ul li{margin:0px 0px 10px 30px; padding-left:15px; position:relative;}
#wrap header nav ul li a{font-size:16px; color:#fff; font-weight:600; line-height:30px;}
#wrap header nav ul li:after{
    content:""; display:block; width:5px; height:5px; 
    border-radius:50%; background:#fff; position:absolute; left:0px; top:13px;
}
#wrap header nav ul li:hover a, #wrap header nav ul li.on a{color:#ed3140;}
#wrap header nav ul li:hover:after, #wrap heaer nav ul li.on:after{background:#ed3140;}
footer{
    width:180px; position:fixed; 
    right:0px; bottom:0px; padding:0px 0px 50px 0px; 
    font-size:11px; color:#7e7e7e; z-index:12;
}
footer address{padding:5px 0px 15px 25px;}
footer p{padding-left:35px;}
footer > a{display:block; width:25px; height:25px; position:absolute; top:-31px; transition:.4s;}
footer > a.naver{background:url(../image/naver_hover.png) no-repeat; right:18px;}
footer > a.naver:hover{background:url(../image/naver.jpg) no-repeat;}
footer > a.google{background:url(../image/google.png) no-repeat; right:48px;}
footer > a.google:hover{background:url(../image/google_hover.png) no-repeat;}
footer > a.github{background:url(../image/github.png) no-repeat; right:80px;}
footer > a.github:hover{background:url(../image/github_hover.png) no-repeat;}
#container{width:100%; height:100%; max-width:1200px; margin:0 auto;}
#container .content{width:25%; height:100%; position:absolute;}
#container #menu1{left:0%; background:url(../image/content_bg1.png) repeat;}
#container #menu2{left:22%; background:url(../image/content_bg2.jpg) repeat;} 
#container #menu3{left:44%; background:url(../image/content_bg3.jpg) repeat;}
#container #menu4{left:66%; background:url(../image/content_bg4.jpg) repeat;}
#container .content:before,#container .content:after{content:""; display:block; position:absolute;}
#container .content:before{width:1px; height:100%; background:#000; left:0; top:0; z-index:4;}
#container .content:after{left:30px; top:180px; font-size:25px; font-weight:700; color:#ed3140; }
#container #menu1:after{content:"봄";}
#container #menu2:after{content:"여름";}
#container #menu3:after{content:"가을";}
#container #menu4:after{content:"겨울";}
#container .content .conbox:before{content:""; display:block; position:absolute;}
#container #menu1 .conbox:before{
    background:url(../image/main_ico1.png) no-repeat; 
    width:350px; height:460px; right:-40px; top:130px; background-size:100%;
}
#container #menu2 .conbox:before{
    background:url(../image/main_ico2.png) no-repeat; 
    width:180px; height:470px; right:-30px; top:180px; background-size:100%;
}
#container #menu3 .conbox:before{
    background:url(../image/main_ico3.png) no-repeat;
    width:270px; height:310px; right:-60px; top:30px; background-size:100%;
}
#conatiner #menu4 .conbox:before{
    background:url(../image/main_ico4.png) no-repeat;
    width:350px; height:400px; right:-170px; top:100px; background-size:100%;
}
#container .content h2{opacity:0;}